@import './base.css';

:root {
  --default-bg: #181818;
  --default-txt: #9f9f9f;
  --default-tag: #5c5c5c;
  --default-highlight: #CC9900;
}

#app {
  /* max-width: 1280px; */
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--default-txt)
}

a:hover {
  /* border: 1px var(--default-highlight) solid; */
  /* border-radius: 5px; */
  background-color: transparent;
  color: var(--default-highlight);
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
